/* .fx-panel-main {
    margin-right: 0px; 
    padding-right: 0px; 
    padding-top: 2px;
}

.fx-panel-search-box {
    height: 36px; 
    border-radius: 6px;
}

.fx-panel-options {
    margin-top: 0px;
    padding-top: 0px;
} */